*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
    font-size: 12px;
    
}

.container table{
    border-collapse: collapse; 
    border-radius: 6px;
    overflow: hidden;
    font-weight: 400;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .126);
    background-color: rgba(42, 42, 42, 0.05);
    border-color: #ddd;

}

.container table thead{
    background-color: #00a8ff;
    color: #2d3436;
    font-size: 12px;
    text-align: center;
}

.container table tbody{
    font-size: 12px;
    border:1px solid rgba(0, 0, 0, 0.103);
}

.container table tr th, td{
    padding: 12px 14px;
    text-align: center; 
}

.container table tbody tr td:nth-child(1), td:nth-child(3), td:nth-child(4), td:nth-child(5){
    text-align: center;
}

.container table tbody tr td:nth-child(1){
  border-right: 1px solid rgba(0, 0, 0, 0.103);
}

.container table tbody tr:nth-child(even){
    background-color: #fff;
}

.container table tbody tr:nth-child(even):hover, .container table tbody tr:nth-child(odd):hover{
    background-color: #ddd;
    cursor: pointer;
    transition: .2s all;
}

